## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [5]:
sample_list_1 = random.sample(range(100),80)
print(sample_list_1)

[28, 61, 68, 67, 89, 40, 43, 48, 91, 45, 23, 41, 36, 82, 87, 4, 88, 51, 59, 50, 86, 94, 47, 24, 14, 98, 10, 85, 52, 38, 66, 18, 77, 84, 83, 80, 93, 56, 70, 79, 90, 57, 99, 6, 63, 12, 39, 49, 19, 34, 46, 95, 55, 69, 9, 92, 97, 73, 81, 5, 21, 30, 1, 37, 65, 2, 13, 71, 7, 26, 25, 44, 0, 60, 78, 31, 22, 33, 72, 16]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [10]:
#len(sample_list_1) = 80

set1 = set(sample_list_1)
print(len(set1))

'''The length is still 80 as all the values generated by using the random.sample function are unique. Sets remove
duplicate values'''

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [20]:
sample_list_2 = []
for i in range(80):
    sample_list_2.append(random.randrange(0,100))

print(sample_list_2)
len(sample_list_2)

[24, 37, 22, 6, 50, 33, 89, 29, 74, 44, 66, 91, 25, 10, 39, 78, 6, 81, 3, 62, 11, 2, 14, 29, 46, 72, 28, 37, 65, 82, 25, 97, 37, 81, 80, 84, 39, 10, 60, 69, 83, 69, 16, 38, 35, 60, 39, 77, 86, 20, 23, 39, 15, 1, 66, 41, 55, 8, 50, 0, 83, 24, 39, 0, 23, 79, 57, 42, 63, 65, 62, 5, 96, 49, 94, 41, 87, 32, 53, 10]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [22]:
set2 = set(sample_list_2)
print(set2)
len(set2)

{0, 1, 2, 3, 5, 6, 8, 10, 11, 14, 15, 16, 20, 22, 23, 24, 25, 28, 29, 32, 33, 35, 37, 38, 39, 41, 42, 44, 46, 49, 50, 53, 55, 57, 60, 62, 63, 65, 66, 69, 72, 74, 77, 78, 79, 80, 81, 82, 83, 84, 86, 87, 89, 91, 94, 96, 97}

57

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [28]:
set3 = []
for i in set1:
    if i not in set2:
        set3.append(i)
        
set3 = set(set3)
print(set3)

{4, 7, 9, 12, 13, 18, 19, 21, 26, 30, 31, 34, 36, 40, 43, 45, 47, 48, 51, 52, 56, 59, 61, 67, 68, 70, 71, 73, 85, 88, 90, 92, 93, 95, 98, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [29]:
set4 = []
for i in set2:
    if i not in set1:
        set4.append(i)
        
set4 = set(set4)
print(set4)

{32, 96, 3, 35, 8, 42, 11, 74, 15, 20, 53, 29, 62}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [30]:
set5 = []

for i in set1:
    if i in set1 and i in set2:
        set5.append(i)
set5 = set(set5)
print(set5)

{0, 1, 2, 5, 6, 10, 14, 16, 22, 23, 24, 25, 28, 33, 37, 38, 39, 41, 44, 46, 49, 50, 55, 57, 60, 63, 65, 66, 69, 72, 77, 78, 79, 80, 81, 82, 83, 84, 86, 87, 89, 91, 94, 97}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [33]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
57
36
13
44

#### Create an empty set called `set6`.

In [36]:
# Your code here
set6 = set()
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [37]:
set6.update(set3, set5)
print(set6)

{0, 1, 2, 4, 5, 6, 7, 9, 10, 12, 13, 14, 16, 18, 19, 21, 22, 23, 24, 25, 26, 28, 30, 31, 33, 34, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 55, 56, 57, 59, 60, 61, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [38]:
print(set1 == set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [40]:
x = set2.issubset(set1)
print(x)
y = set3.issubset(set1)
print(y)

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [41]:
print(set3.union(set4, set5))
print(set1.union(set2))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [46]:
'''Pop for sets doesnt take any arguments?'''
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [48]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in set1:
    if i not in list_to_remove:
        print(i)

2
4
5
6
7
10
12
13
14
16
18
22
23
24
25
26
28
30
33
34
36
37
38
40
43
44
45
46
47
48
50
52
55
56
57
60
63
65
66
67
68
70
72
73
77
78
80
82
83
84
85
86
87
88
90
92
93
94
95
97
98